## Preprocessing

In [38]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [40]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [41]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [43]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [44]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [45]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df["CLASSIFICATION"].value_counts().loc[lambda x: x==1].index
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [47]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(application_df)

In [48]:
# Split our preprocessed data into our features and target arrays
y = application_df['STATUS']
X = X.drop(columns='STATUS')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [49]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [50]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu",input_dim=83))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_39 (Dense)            (None, 80)                6720

 dense_40 (Dense)            (None, 30)                2430

 dense_41 (Dense)            (None, 1)                 31

=================================================================
Total params: 9,181
Trainable params: 9,181
Non-trainable params: 0
_________________________________________________________________

In [51]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [52]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 7s 6ms/step - loss: 0.0181 - accuracy: 0.9958
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0012 - accuracy: 0.9998
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 9.5934e-04 - accuracy: 0.9998
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 9.0985e-04 - accuracy: 0.9998
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 8.4533e-04 - accuracy: 0.9998
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 8.0684e-04 - accuracy: 0.9998
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 8.2153e-04 - accuracy: 0.9998
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 8.4201e-04 - accuracy: 0.9998
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 7.9761e-04 - accuracy: 0.9999
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 7.4157e-04 - accuracy: 0.9998
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 7.4019e-04 - accuracy: 0.9999
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 8.0136e-04 - accuracy: 0.9999
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 7.4947e-04 - accuracy: 0.9999
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 8.3261e-04 - accuracy: 0.9999
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 7.8917e-04 - accuracy: 0.9998
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 8.2931e-04 - accuracy: 0.9999
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 7.1150e-04 - accuracy: 0.9999
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 7.5401e-04 - accuracy: 0.9999
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 6.8997e-04 - accuracy: 0.9999
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 6.3447e-04 - accuracy: 0.9999
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 6.9893e-04 - accuracy: 0.9998
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 6.4424e-04 - accuracy: 0.9999
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 7.7393e-04 - accuracy: 0.9999
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 7.5038e-04 - accuracy: 0.9999
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 6.8508e-04 - accuracy: 0.9999
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 7.0966e-04 - accuracy: 0.9999
Epoch 28/100
804/804 [==============================] - 4s 4ms/step - loss: 8.0189e-04 - accuracy: 0.9999
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 8.4835e-04 - accuracy: 0.9999
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 6.6273e-04 - accuracy: 0.9998
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 6.8706e-04 - accuracy: 0.9998
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 7.7195e-04 - accuracy: 0.9999
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 5.7752e-04 - accuracy: 0.9999
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 7.8569e-04 - accuracy: 0.9999
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 6.9802e-04 - accuracy: 0.9999
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 6.3784e-04 - accuracy: 0.9999
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 5.6719e-04 - accuracy: 0.9998
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 6.5099e-04 - accuracy: 0.9999
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 6.6705e-04 - accuracy: 0.9999
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 5.6879e-04 - accuracy: 0.9998
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 6.4880e-04 - accuracy: 0.9998
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 5.5838e-04 - accuracy: 0.9999
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 5.8445e-04 - accuracy: 0.9998
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3591e-04 - accuracy: 0.9999
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 5.3688e-04 - accuracy: 0.9999
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 8.2345e-04 - accuracy: 0.9999
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 5.8899e-04 - accuracy: 0.9998
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3637e-04 - accuracy: 0.9999
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 5.9927e-04 - accuracy: 0.9998
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 8.9107e-04 - accuracy: 0.9999
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 5.3637e-04 - accuracy: 0.9999
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 7.6188e-04 - accuracy: 0.9998
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 6.3739e-04 - accuracy: 0.9999
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 8.2625e-04 - accuracy: 0.9999
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 7.8868e-04 - accuracy: 0.9998
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 6.5107e-04 - accuracy: 0.9998
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 5.9676e-04 - accuracy: 0.9998
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 6.4836e-04 - accuracy: 0.9998
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 7.0256e-04 - accuracy: 0.9998
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 8.0543e-04 - accuracy: 0.9999
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 8.4202e-04 - accuracy: 0.9998
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 7.4209e-04 - accuracy: 0.9999
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0010 - accuracy: 0.9999
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0011 - accuracy: 0.9998
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 6.2770e-04 - accuracy: 0.9999
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 8.1882e-04 - accuracy: 0.9998
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 8.1225e-04 - accuracy: 0.9998
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 6.8999e-04 - accuracy: 0.9998
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 9.6169e-04 - accuracy: 0.9998
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 6.9908e-04 - accuracy: 0.9998
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 8.2751e-04 - accuracy: 0.9998
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 6.9046e-04 - accuracy: 0.9999
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 7.0957e-04 - accuracy: 0.9999
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 7.0914e-04 - accuracy: 0.9998
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 7.2506e-04 - accuracy: 0.9998
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 6.6558e-04 - accuracy: 0.9998
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 7.8488e-04 - accuracy: 0.9999
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 7.2341e-04 - accuracy: 0.9999
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 7.5595e-04 - accuracy: 0.9999
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 8.2536e-04 - accuracy: 0.9999
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 6.5766e-04 - accuracy: 0.9999
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3639e-04 - accuracy: 0.9998
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 7.4833e-04 - accuracy: 0.9998
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 6.4522e-04 - accuracy: 0.9998
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 5.9644e-04 - accuracy: 0.9999
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 9.1143e-04 - accuracy: 0.9999
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 8.2420e-04 - accuracy: 0.9998
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 6.4418e-04 - accuracy: 0.9999
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 7.4664e-04 - accuracy: 0.9998
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 7.6120e-04 - accuracy: 0.9999
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 6.1385e-04 - accuracy: 0.9999
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 6.7786e-04 - accuracy: 0.9998
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 7.5735e-04 - accuracy: 0.9999
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 6.5830e-04 - accuracy: 0.9999
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 8.9452e-04 - accuracy: 0.9999
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 6.3491e-04 - accuracy: 0.9998
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 5.2623e-04 - accuracy: 0.9998
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 6.6991e-04 - accuracy: 0.9999
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 5.6400e-04 - accuracy: 0.9998
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 7.4339e-04 - accuracy: 0.9998

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.0079 - accuracy: 0.9998 - 529ms/epoch - 2ms/step
Loss: 0.007853174582123756, Accuracy: 0.9997667670249939

In [55]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')